.now-playing {
	background-color: #fff;
	border-radius: 8px;
	font-size: .75em;
	font-weight: 500;
	max-width: fit-content;
	padding: .5em 1rem;
	text-transform: uppercase;
	overflow: hidden;
	display: flex;
	align-items: center;
	gap: 1rem;
	align-self: center;
	flex-grow: 0;
	flex-shrink: 0;
}

.now-playing-text {
	flex-shrink: 0;
	flex-grow: 0;
	margin: 0;
	animation: 4.5s cubic-bezier(0.34, 1.56, 0.64, 1) infinite nowPlaying;
}

.now-playing-icon {
	flex-shrink: 0;
	flex-grow: 0;
}

@keyframes nowPlaying {
	63% {
		opacity: 1;
		transform: scale(1);
	}
	66% {
		opacity: 0;
		transform: scale(1.1);
	}
	69% {
		opacity: 1;
	}
	
	70% {
		transform: scale(.9);
		opacity: 1;
	}			
	73% {
		opacity: 0;
	}
	80% {
		transform: scale(2);
		opacity: 0;
	}
	81% {
		transform: scale(1) translateX(-150%);
	}
	82% {
		opacity: 1;
	}
	100% {
		transform: translateX(0);
	}
}
